/BattleChaosOnStage.Core/bin
/BattleChaosOnStage.Core/obj
/BattleChaosOnStage.EventBus/bin
/BattleChaosOnStage.EventBus/obj
/BattleChaosOnStage.MatchEngine/obj
/BattleChaosOnStage.MatchEngine/bin
/.vs
